body {
  max-width: 1080px;
  margin: 20px;
}

div.bar { 
  display: inline-block;
  width: 20px;
  background-color: teal;
  margin-right: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
} 

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

.tick line{
  opacity: 0.2;
}

.label {
  font-family: sans-serif;
  font-size: 12px;
}

.title {
  font-family: sans-serif;
  font-size: 2.5em;
}

.about-text {
  max-width: 1000px;
  margin-left: 50px;
}
